@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    font-family: 'Inter';
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

h1{
    font-family: 'Inter';
}

p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';

}

.hidden{
    display: none !important;
}

.signinBtnActive {
    background-color: rgba(204, 0, 0, 1) !important;
    border-color: rgba(204, 0, 0, 1) !important;
}



/* STYLE */

/* HEADER */

.section-header{
    background: rgba(20, 21, 23, 1);
}

.div-header {
    margin: 0 auto;
    max-width: 100%;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    order:2;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 8px;
}

.div-header a{
    padding: 15px;
    font-family: 'Inter';
    font-weight: 500;
    color: rgb(252, 251, 251);
    text-transform: uppercase;
}

.logo{
    font-size: 36px;
}

ul a:hover {
    color: rgb(206, 203, 220);
}

.logo:hover{
    font-size: 37px;
    color:#888;
}


.logo span {
    color:crimson ;
}
/* MODAL CONTENT FILM*/
/* The Modal (background) */
.modal2 {
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #0c0b0b;
    margin: 8% auto; 
    padding: 20px;
    border: 1px solid #f8f5f5;
    width: 70%; 
    min-height: 80%;
}

.grid-modal{
    padding: 20px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
}

.imgfilm > img{
    border: 1px solid #f8f5f5;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(66, 16, 16);
    text-decoration: none;
    cursor: pointer;
}

.contentfilm{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-movie-title{
    font-weight: 700;
    font-family: 'Inria Sans';
    font-size: 28px;
    color: rgba(204, 0, 0, 1);
}

.modal-movie-year{
    font-family: 'Inria Sans';
    font-weight: 700;
    color: rgba(233, 233, 233, 1);
    letter-spacing: 3%;
    line-height: 17px;
}

/* END HEADER ---- 1 container */

.section-results {
    background: rgba(20, 21, 23, 1);
    padding-right: 25px;
}

.input-client {
    margin: 0 auto;
    min-height: 30vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#search-movie{
    background: rgba(204, 0, 0, 1);
    text-align: center;
    height: 44px;
    width: 44px;
    padding: 10px;
    border-radius: 0px 8px 8px 0px;

}


#input{
    height: 44px;
    width: 272px;
    border-radius: 8px 0px 0px 8px;
}


.swiper-wrapper{
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    
}

.swiper-results{
    position: relative;
    width: 100%;
    min-height: 400px;
}

.swiper-latest {
    position: relative;
    width: 100%;
    min-height: 400px; 
}

.swiper-slide {
    flex: 0 0 auto; 
}

/* HOVER FILMS */
.img-div{
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.img-div img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-div{
    position: absolute;
    z-index: 0;
    background-color: rgba(26, 20, 20, 0.85);
    min-height: 400px;
}

.hover-div:hover{
    z-index: 2;
}

.img-div:hover,
.img:hover{
    z-index: 0;
    object-fit: cover;
}

.hover-div{
    text-align: center;
    font-family: 'Inter';
    padding: 20px;
    height: 100%;
    width: 100%;
}
.movie-title{
    padding: 30px;
    font-weight: 700;
    max-height: 80px;
    overflow-y: hidden;
}
.movie-year{
    color: rgba(176, 176, 176, 1);
    font-weight: 700;
    padding-top: 27px;
}
.movie-genres{
    font-weight: 500;
    font-size: 14px;
    padding: 26px;
}
.imdb-rating{
    margin: 0 auto;
    width: 50px;
}

.imdb-star{
    margin: 0 auto;
    width: 35px;
    height: 35px;
}
.imdb-rating>p{
    font-weight: 700;
    color: rgba(204, 0, 0, 1);
    font-size: 32px;
}



/* END HOVER FILMS */
.swiper-button-next-results ,
.swiper-button-prev-results {
    width: 20px;
    font-size: 20px;
    color: #7e7a7a;
    padding: 5px; 
}


.swiper-button-prev-results:hover {
    background-color: #333;
}

.swiper-button-next-results::after,
.swiper-button-prev-results::after {
    display: none;
}

/* section latest */

.section-latest{
    background: rgba(20, 21, 23, 1);
}

.div-latest{
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    min-height: 400px;
}

.swiper-button-next-latest ,
.swiper-button-prev-latest,
.swiper-button-next-genre ,
.swiper-button-prev-genre {
    width: 20px;
    font-size: 20px;
    color: #7e7a7a;
    padding: 5px;
}

.swiper-button-prev-latest:hover,
.swiper-button-prev-genre:hover {
    background-color: #333;
}

.swiper-button-next-latest::after,
.swiper-button-prev-latest::after,
.swiper-button-next-genre::after,
.swiper-button-prev-genre::after {
    display: none;
}

/* SEARCH GENRE */

.genre-search{
    background: rgba(20, 21, 23, 1);
}

.genre-head{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 200px;
}
.genre-head>h1{
font-size: 16px;
font-weight: 400;
}

.genre-head>h1,
.genre-head>ul>li>a {
    color: rgb(252, 251, 251);
    padding: 15px;
    border-radius: 6px;
}

.genre-head>ul>li>a:hover{
    background: rgba(204, 0, 0, 1);
}
.genre-head>hr {
    width: 710px;
    transform: translateY(60px);
}

.swiper-genre{
    min-height: 400px;
}

/* MODAL */
.modal {
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(8, 8, 8, 0.7); /* Black w/ opacity */
    margin: 0% auto;
    top: 0;
}

#openModalBtn{
    max-width: 215px;
    min-height: 65px;
    border-radius: 60px;
}

#msgus , #msgem ,#msg-email{
    margin: 0 auto;
    display: none;
}

/* Modal content box */
.modal-content {
    background: rgba(0, 0, 0, 1);
    margin: 5px auto; /* 15% from the top and centered */
    padding: 20px;
    width: 410px; 
    height: 600px;
}

.header-login,
.login{
    margin-top: 20px;
}

.login{
    padding: 20px;
}
.signin{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.signin>p:first-child{
    margin-top: 20px;
}


.second-signin{
    width: 290px !important;
    border: 1px solid #e11818 !important;
    border-radius: 8px 8px 8px 8px !important;
    margin-left: 5px;
    margin-top: 20px;
    background-color: rgba(204, 0, 0, 1) !important;
}

.second-signin:hover{
    background-color: #7e7a7a;
}

#myModal>.modal-content>.signin>a {
    transform: translate(18px,-34px);
}

.login>a>label{
    color: rgb(249, 248, 246);
    float: left;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

#myCheckbox{
    float: left;
    transform: translate(10px,12px);
    margin: 5px;
    cursor: pointer;
}

.username,
.password,
#email,
#confirm-password{
    width: 290px;
    height: 45px;
    font-family: "Inter";
    font-size: 16px;
    color: #312323;
    font-weight: 400;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.signin-btn, .login-btn {
    width: 150px;
    height: 55px;
    font-family: "Inria Sans";
    color: rgb(249, 248, 246);
    font-size: 24px;
}


.signin-btn:hover, .login-btn:hover ,.first-login:hover{
    background-color: #7e7a7a;
    border-color: #7e7a7a;
} 
.first-login{
    border-radius: 0px 8px 8px 0px;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border: 1px solid #fbf9f9;

}

.second-login{
    width: 290px;
    margin-top: 20px;
    border: 1px solid #e11818;

}

.second-login{
    background: rgba(204, 0, 0, 1);
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
}

.signin-btn{
    border-radius: 8px 0px 0px 8px;
    color: rgb(248, 248, 247);
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #fbf9f9;
    border-top: 1px solid #fbf9f9;
    border-left: 1px solid #fbf9f9;
    cursor: pointer;
}

#myModal>.modal-content>.login>a ,
#myModal>.modal-content>.signin>a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-transform: lowercase;
    float: left;
    cursor: pointer;
    color:rgb(182, 35, 35);
}

#myModal>.modal-content>.login>a>:nth-child(2):hover
{
    color: #333;
}

#myModal>.modal-content>.login>:last-child{
    color: aliceblue;
}

#myModal>.modal-content>.login>:last-child>.UP{
    color:rgb(182, 35, 35);
}


/* Close button (X) */
.close {
    color: #aaa;
    float: left;
    transform: translate(-5px,-20px);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(169, 25, 25);
    text-decoration: none;
    cursor: pointer;
}

/* Section footer */

.section-footer{
    background: rgba(20, 21, 23, 1);
}

.div-footer{
    margin: 0 auto;
    max-width: 100%;
    min-height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:100px;
}

.div-footer a{
    padding: 15px;
    font-family: 'Inter';
    font-weight: 500;
    color: rgb(252, 251, 251);
    text-transform: uppercase;
}

.div-footer>p{
    font-size: 10px;
    color: #7e7a7a;
}

.menu-footer>.logo{
    font-size: medium;
}

.menu-footer>ul>li>a{
    font-size: 11px;
}

