@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    font-family: 'Inter';
    text-decoration: none;
}

img {
    width: 100%;
}

h1{
    font-family: 'Inter';
}

p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';

}

.hidden{
    display: none;
}

/* STYLE */

/* HEADER */

.section-header{
    background: rgba(20, 21, 23, 1);
}

.div-header {
    margin: 0 auto;
    max-width: 100%;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    order:2;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 8px;
}

.div-header a{
    padding: 15px;
    font-family: 'Inter';
    font-weight: 500;
    color: rgb(252, 251, 251);
    text-transform: uppercase;
}

.logo{
    font-size: 36px;
}

ul a:hover {
    color: rgb(206, 203, 220);
}

.logo:hover{
    font-size: 17px;
    color:#888;
}


.logo span {
    color:crimson ;
}
/* MODAL CONTENT FILM*/
/* The Modal (background) */
.modal2 {
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #312323;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.grid-modal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* END HEADER ---- 1 container */

.section-results {
    background: rgba(20, 21, 23, 1);
    padding-right: 25px;
}

.input-client {
    margin: 0 auto;
    min-height: 30vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#search-movie{
    background: rgba(204, 0, 0, 1);
    text-align: center;
    height: 44px;
    width: 44px;
    padding: 10px;
    border-radius: 0px 8px 8px 0px;

}


#input{
    height: 44px;
    width: 272px;
    border-radius: 8px 0px 0px 8px;
}


.swiper-wrapper{
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    
}

.swiper-results{
    position: relative;
    width: 100%;
    height: 55vh;
}

.swiper-latest {
    position: relative;
    width: 100%;
    height: 55vh; 
}

.swiper-slide {
    flex: 0 0 auto; 
}

/* HOVER FILMS */
.img-div{
    position: absolute;
    z-index: 1;
    height: 351px; 
}

.hover-div{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.hover-div:hover{
    z-index: 2;
}

.img-div:hover,
.img:hover{
    z-index: 0;
}

.hover-div{
    text-align: center;
    font-family: 'Inter';
    padding: 20px;
    height: 100%;
    width: 100%;
}
.movie-title{
    padding: 30px;
    font-weight: 700;
    max-height: 80px;
    overflow-y: hidden;
}
.movie-year{
    color: rgba(176, 176, 176, 1);
    font-weight: 700;
    padding-top: 27px;
}
.movie-genres{
    font-weight: 500;
    font-size: 14px;
    padding: 26px;
}
.imdb-rating{
    margin: 0 auto;
    width: 50px;
}

.imdb-star{
    margin: 0 auto;
    width: 35px;
    height: 35px;
}
.imdb-rating>p{
    font-weight: 700;
    color: rgba(204, 0, 0, 1);
    font-size: 32px;
}



/* END HOVER FILMS */
.swiper-button-next-results ,
.swiper-button-prev-results {
    width: 20px;
    font-size: 20px;
    color: #7e7a7a;
    padding: 5px; 
}


.swiper-button-prev-results:hover {
    background-color: #333;
}

.swiper-button-next-results::after,
.swiper-button-prev-results::after {
    display: none;
}

/* section latest */

.section-latest{
    background: rgba(20, 21, 23, 1);
}

.div-latest{
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    height: 60vh;
}

.swiper-button-next-latest ,
.swiper-button-prev-latest,
.swiper-button-next-genre ,
.swiper-button-prev-genre {
    width: 20px;
    font-size: 20px;
    color: #7e7a7a;
    padding: 5px;
}

.swiper-button-prev-latest:hover,
.swiper-button-prev-genre:hover {
    background-color: #333;
}

.swiper-button-next-latest::after,
.swiper-button-prev-latest::after,
.swiper-button-next-genre::after,
.swiper-button-prev-genre::after {
    display: none;
}

/* SEARCH GENRE */

.genre-search{
    background: rgba(20, 21, 23, 1);
}

.genre-head{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.genre-head>h1{
font-size: 16px;
font-weight: 400;
}

.genre-head>h1,
.genre-head>ul>li>a {
    color: rgb(252, 251, 251);
    padding: 15px;
    border-radius: 6px;
}

.genre-head>ul>li>a:hover{
    background: rgba(204, 0, 0, 1);
}
.genre-head>hr {
    width: 710px;
    transform: translateY(60px);
}

.swiper-genre{
    height: 55vh;
}

/* MODAL */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(8, 8, 8, 0.7); /* Black w/ opacity */
    margin: 0% auto;
    top: 0;
}

#openModalBtn{
    max-width: 215px;
    min-height: 65px;
    border-radius: 60px;
}

#msgus , #msgem {
    margin: 0 auto;
    display: none;
}

/* Modal content box */
.modal-content {
    background: rgba(0, 0, 0, 1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 410px; 
    height: 608px;
    text-align: center;
    padding: 20px;
}

.signin-btn, .login-btn {
    width: 145px;
    height: 55px;
    font-family: "Inria Sans";
    color: blanchedalmond;
    font-size: 24px;
}
.first-login{
    border-radius: 0px 8px 8px 0px;
}
.login-btn{
    background: rgba(204, 0, 0, 1);
    border-radius: 8px 8px 8px 8px;

}

.signin-btn{
    border-radius: 8px 0px 0px 8px;
    color: #312323;

}

/* Close button (X) */
.close {
    color: #aaa;
    float: left;
    transform: translate(-10px,-11px);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(51, 54, 216);
    text-decoration: none;
    cursor: pointer;
}

/* Section footer */

.section-footer{
    background: rgba(20, 21, 23, 1);
}

.div-footer{
    margin: 0 auto;
    max-width: 100%;
    min-height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:100px;
}

.div-footer a{
    padding: 15px;
    font-family: 'Inter';
    font-weight: 500;
    color: rgb(252, 251, 251);
    text-transform: uppercase;
}

.div-footer>p{
    font-size: 10px;
    color: #7e7a7a;
}

.menu-footer>.logo{
    font-size: medium;
}

.menu-footer>ul>li>a{
    font-size: 11px;
}

